.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/5.4.0.04/TMS470.xml
.metadata/.plugins/com.ti.ccstudio.project.ui/dialog_settings.xml
.metadata/.plugins/com.ti.dvt.analyzersuite/TransportParams.xml
.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
.metadata/.plugins/com.ti.dvt.ideadapter/IDEAdapterMgr.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/ARM_HW0.1744204060040.pdom
.metadata/.plugins/org.eclipse.cdt.core/ARM_HW1.1744204060055.pdom
.metadata/.plugins/org.eclipse.cdt.core/ARM_HW2.1744204060058.pdom
.metadata/.plugins/org.eclipse.cdt.core/ARM_HW3.1744204060059.pdom
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.ui/ARM_HW3.build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.history/49/00743ca54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/5d/d08d39a54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/5f/703236a54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/8b/b03f39a54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/96/90d33da54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/a/60ed3aa54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/b3/803b3ba54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/b6/20c23ca54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/be/a0fa3da54315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/c3/d0d430a84315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.history/d6/90562ba84315001015c8f65f404ad778
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW0/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW0/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW1/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW1/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW2/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW2/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW3/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW3/.indexes/33/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW3/.indexes/33/4b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ARM_HW3/.indexes/33/b1/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.buildDefinitions.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.resource.explorer.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.system.setup.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ARM_HW0.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ARM_HW1.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ARM_HW2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ARM_HW3.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
